.hero {
  padding-top: rem(50);
  padding-bottom: rem(90);

  @include mobile {
    padding-top: rem(25);
    padding-bottom: rem(55);
  }

  &__inner {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: rem(680);
    padding-block: rem(50);

    @include mobile {
      height: rem(500);
    }
  }

  &__bg-wrapper {
    position: absolute;
    z-index: 1;
    inset: 0;
  }

  &__bg {
    position: absolute;
    inset: 0;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity 5s ease-in-out;

    &.is-active {
      opacity: 1;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(26, 26, 24, 0.6);
    }
  }

  &__content {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: rem(70);

    @include mobile {
      gap: rem(60);
    }
  }

  &__title {
    @include mobile {
      display: flex;
      flex-direction: column;
      gap: rem(10);
    }

    &-wrapper {
      @include mobile {
        display: flex;
        flex-direction: column;
        gap: rem(10);
      }
    }

    &-bold {
      @include fluid-text(45, 30);

      letter-spacing: rem(15.75);

      @include mobile {
        letter-spacing: rem(10.5);
      }
    }

    &-light {
      @include fluid-text(40, 25);

      font-weight: 300;
    }
  }

  &__subtitle {
    @include fluid-text(45, 25);

    font-weight: 300;
  }

  &__slogan {
    @include fluid-text(35, 16);

    font-weight: 300;
    line-height: 1.4;
    letter-spacing: rem(10.5);

    @include mobile {
      letter-spacing: rem(5);
      text-transform: uppercase;
    }
  }

  &__indicators {
    position: absolute;
    left: 50%;
    display: flex;
    gap: rem(18);
    margin-top: rem(40);
    translate: -50% 0;

    @include mobile {
      margin-top: rem(20);
    }

    &-line {
      width: rem(25);
      height: rem(1);
      background-color: #6f6f6f;
      cursor: pointer;
      transition: background-color var(--transition-duration);

      &.is-active {
        background-color: var(--color-light);
      }
    }
  }
}
