@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-style: normal;
  src: url('/src/assets/fonts/helveticaneuecyr-black.woff2') format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 700;
  font-style: normal;
  src: url('/src/assets/fonts/helveticaneuecyr-bold.woff2') format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 300;
  font-style: normal;
  src: url('/src/assets/fonts/helveticaneuecyr-light.woff2') format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 500;
  font-style: normal;
  src: url('/src/assets/fonts/helveticaneuecyr-medium.woff2') format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 400;
  font-style: normal;
  src: url('/src/assets/fonts/helveticaneuecyr-roman.woff2') format('woff2'); /* Super Modern Browsers */
}

@font-face {
  font-family: 'OpenSans', sans-serif;
  src: url('/src/assets/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
