.founder {
  padding-block: rem(50);

  @include mobile {
    padding-block: rem(25);
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: rem(100);
    padding-block: rem(27);
    padding-inline: rem(30);
    box-shadow:
      -8.759px 8.759px 17.517px 0 rgba(11, 11, 10, 0.2) inset,
      8.759px -8.759px 17.517px 0 rgba(11, 11, 10, 0.2) inset,
      -8.759px -8.759px 17.517px 0 rgba(43, 43, 42, 0.9) inset,
      8.759px 8.759px 22.383px 0 rgba(11, 11, 10, 0.9) inset;
    filter: drop-shadow(-0.973px -0.973px 1.946px rgba(11, 11, 10, 0.5))
      drop-shadow(0.973px 0.973px 1.946px rgba(43, 43, 42, 0.3));

    @include laptop {
      gap: rem(50);
      padding-inline: rem(20);
    }

    @include tablet {
      flex-direction: column;
      gap: rem(15);
    }
  }

  &__image {
    flex: 0 1 rem(390);
    flex-shrink: 1;
    aspect-ratio: 390/517;
    max-width: 100%;
    height: auto;
    object-fit: cover;

    @include tablet {
      flex: none;
      max-width: rem(252);
      margin-inline: auto;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: rem(30);
    padding-inline: rem(50);

    @include tablet {
      gap: rem(50);
      padding-inline: 0;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: rem(37);
    text-align: center;

    @include laptop {
      gap: rem(30);
    }

    @include tablet {
      gap: rem(20);
    }
  }

  &__role {
    @include fluid-text(26, 16);

    font-weight: 300;
    line-height: 1;
    letter-spacing: rem(4.55);
  }

  &__name {
    line-height: 0.85;
    letter-spacing: rem(11);
    color: var(--color-accent-10);
  }

  & p {
    @include fluid-text(25, 16);

    margin: 0;
    font-weight: 300;
  }

  &__button {
    padding: rem(28);
    line-height: 1.24;
    letter-spacing: rem(1.4);

    @include tablet {
      padding: rem(10);
    }
  }
}
