.categories {
  padding-block: 50px;
  background-color: var(--color-dark);

  @include mobile {
    padding-block: 25px;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    height: 641px;

    @include mobile {
      flex-direction: column;
      gap: 12px;
      height: auto;
    }
  }

  &__item {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 574px;
    padding-bottom: 96px;
    transition: flex 0.5s ease;

    &:nth-child(even) {
      transform: translateY(60px);
    }

    @include mobile {
      flex: none;
      width: 100%;
      height: 289px;
      padding-bottom: 40px;
      transform: translateY(0) !important;
    }

    &:hover {
      flex: 2; // Карточка расширяется при наведении[cite: 16]

      .categories__image img {
        transform: scale(1.05);
      }

      &::after {
        opacity: 0.2; // Осветляем при наведении
      }
    }

    // Градиентное затемнение для читаемости текста
    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      inset: 0;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7) 0%,
        transparent 50%
      );
      transition: opacity 0.3s;
    }
  }

  &__image {
    position: absolute;
    z-index: 0;
    inset: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.7s ease;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-light);
  }
}
